
.footer {
    padding: 70px 0;

}

.footer a:hover{
    color: var(--accent);
}
.footer-socials {
    margin-bottom: 30px;

    display: flex;
    gap: 20px 50px;
    align-items: center;
}

.footer-contact {
    display: flex;

    gap: 50px;

     font-size: 14px;
     line-height: 2;
}

@media (max-width: 600px) {
    
    .footer-contact{
        flex-direction: column;
        text-align: center;
    }
    .footer-socials{
        justify-content: center;
    }
}